<% provide(:title, 'Contact ||') %>
<h1>Contact Us</h1>
<p>
If you can't find the answers you need in our FAQs or if you have a specific query,
feel free to reach out to our friendly and knowledgeable customer support team.
You can contact us through:
  <ul>
    <li><b>Email:</b> customer.support@shopsy.com</li>
    <li><b>Phone:</b> +1-800-SHOPSY</li>
    <li><b>Live Chat:</b> Click on the 'Chat' icon in the bottom right corner of
    the website during business hours.
    Our dedicated support team is available to assist you 24/7, so you can reach
    out at any time that's convenient for you.</li>
  </ul>

Thank you for choosing <a href ='https://www.shopsy.in/'>Shopsy.com</a> for your
 online shopping needs. We appreciate your trust in us and are here to
assist you every step of the way. Happy shopping!
</p>
