<% provide(:title, "Help ||") %>
<p>
  <h2><b>Welcome to the <a href ='https://www.shopsy.in/'>Shopsy.com</a>
   Help Center</b></h2>
  At <a href ='https://www.shopsy.in/'>Shopsy.com</a>, we are committed to
  providing you with the best online shopping experience.
  Our Help Center is here to assist you with any questions or concerns you may have.
  Whether you're new to our platform or a seasoned shopper, we're here to
  help you navigate your way around and ensure a smooth shopping journey.
</p>