<div class='center jumbotron'>
  <h1>Welcome to the Shopsy App</h1>
  <p>Discover a world of convenience and endless choices at <a href="#">Shopsy.com</a>, your premier online shopping destination. We're dedicated to providing you with an exceptional shopping experience, right from the comfort of your own home.</p>
  <%= link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
</div>