@import "bootstrap-sprockets";
@import "bootstrap";


$gray-light: #777;
$gray-medium-light: #eaeaea;


/* universal */
body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;

	h1 {
		margin-bottom: 10px;
	}
}

/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: rgb(24, 23, 23);
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */
header {
	float: left;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	padding-top: 3px;

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

// form

// .form{
//   align-items: center;
//   justify-content: center;
//   display: flex;
// //   height: 60vh;
//   width: 300px;
// }


/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $gray-light;
	
	a {
		color: $gray;

		&:hover { 
			color: $gray-darker;
		}
	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			margin: 20px;
		}
	}
}
